<section data-ng-controller="FAQController" class="container faq-page">
	<div class="row question-title" style="">
		<div class="col-md-6">
			<ol>
				<li ng-click="slideTo('whatIsCueanda')">What is Cueanda?</li>
				<li ng-click="slideTo('howDoIAsk')">How do I ask questions? Who can see my private questions and can private questions be reposted?</li>
				<li ng-click="slideTo('iCanSee')">I can see questions asked by others, but how do I see the questions that I have asked?</li>
				<li ng-click="slideTo('howDoISee')">How do I see the results for the questions that I ask?</li>
				<li ng-click="slideTo('canIAskPublic')">Can I ask public questions to my friends?</li>
				<li ng-click="slideTo('howDoIKnow')">How do I know if someone asked me a question or mentioned me in a question?</li>
			</ol>
		</div>
		<div class="col-md-6">
			<ol start="7">
				<li ng-click="slideTo('howDoIFollow')">How do I follow a user on Cueanda?</li>
				<li ng-click="slideTo('canIPost')">Can I post images, gifs or videos?</li>
				<li ng-click="slideTo('howAreComments')">How are comments displayed? What’s Cue Sort?</li>
				<li ng-click="slideTo('whatDoIdo')"> What do I do if I see spam or an inappropriate question?</li>
				<li ng-click="slideTo('doYouHavePrivacy')"> Does Cueanda.com have a privacy policy?</li>
				<li ng-click="slideTo('doYouHaveTerms')"> Does Cueanda.com provide terms of service?</li>
			</ol>
		</div>
	</div>
	<div id="whatIsCueanda" class="row answer">
		<div class="question-title">What is Cueanda?</div>
		Insert Mission Statement (I cannot find it as of now)
	</div>
	<div id="howDoIAsk" class="row answer">
		<div class="question-title">How do I ask questions? Who can see my private questions and can private questions be reposted?</div>
		Asking a question is as simple as signing up and clicking on “+ Add Question” in the Question Stream. When asking a question you are able to ask it to the public or privately to a specific user(s). Public questions can be viewed by anyone and can also be recommended and reposted through Facebook and Twitter. When asking private questions, only the users you’ve specifically asked your question can see that question. Private questions cannot be recommended on Cueanda and cannot be reposted through Facebook or Twitter.
	</div>
	<div id="iCanSee" class="row answer">
		<div class="question-title">I can see questions asked by others, but how do I see the questions that I have asked?</div>
		You can see all of the public questions that you’ve asked on your userpage under the “Questions” section. Pending addition of private questions here too?
	</div>
	<div id="howDoISee" class="row answer">
		<div class="question-title">How do I see the results for the questions that I ask?</div>
		The results from the questions appear in question posted in the Question Stream and are visually displayed through the orange and blue bar. To gain additional information on the results of the questions you have asked, click the specific question and toggle between the overall results and the results of only the people you follow.
	</div>
	<div id="canIAskPublic" class="row answer">
		<div class="question-title">Can I ask public questions to my friends?</div>
		Public questions can be viewed by anyone, your friends included. You may also consider Recommending a question to a specific user(s) or including a username(s) in a question or its comment section – all of these options will provide the user with a notification on their userpage.
	</div>
	<div id="howDoIKnow" class="row answer">
		<div class="question-title">How do I know if someone asked me a question or mentioned me in a question?</div>
		You will receive a notification if you are asked a question or mentioned in a question. The “Mentions” section of your userpage allows you the ability to quickly access the questions you’ve been mentioned in, and the “Private & Recommended” dropdown selection in the Question Stream allows you to see all of the questions you were asked privately as well as all questions that were recommended to you by fellow users.
	</div>
	<div id="howDoIFollow" class="row answer">
		<div class="question-title">How do I follow a user on Cueanda?</div>
		Click the “Follow” button on a user’s profile page to follow.
	</div>
	<div id="canIPost" class="row answer">
		<div class="question-title">Can I post images, gifs or videos?</div>
		Yes Corny but maybe we embed a funny gif next to the short answer to this question
	</div>
	<div id="howAreComments" class="row answer">
		<div class="question-title">How are comments displayed? What’s Cue Sort?</div>
		Comments default into Cue Sort, which takes into account both popularity (the amount of up and down votes a comment has received) and time. The top comment for both sides of the argument is displayed under the “Top Comments” header with all other comments falling under “All Comments” based on Cue Sort. You can also display comments based solely on popularity or time by clicking “Pop” or “Time”, respectively.
	</div>
	<div id="whatDoIdo" class="row answer">
		<div class="question-title">What do I do if I see spam or an inappropriate question?</div>
		Click on the “Flag Question” at the… we need to figure this out
	</div>
	<div id="doYouHavePrivacy" class="row answer">
		<div class="question-title">Does Cueanda.com have a privacy policy?</div>
		Yes. <a href="#!/privacy">Privacy Policy</a>
	</div>
	<div id="doYouHaveTerms" class="row answer">
		<div class="question-title">Does Cueanda.com provide terms of service?</div>
		Yes. <a href="#!/terms">Terms of Use</a>
	</div>
</section>