<section data-ng-controller="FAQController" class="container faq-page">
	<div class="row question-title" style="">
		<div class="col-md-6">
			<ol>
				<li ng-click="slideTo('whatIsCueanda')">What is Cueanda?</li>
				<li ng-click="slideTo('howDoIAsk')">How do I ask questions?</li>
				<li ng-click="slideTo('iCanSee')">How do I answer and comment on questions?</li>
				<li ng-click="slideTo('howDoISee')">How do I know if I was asked a question or if I was mentioned in a question?</li>
				<li ng-click="slideTo('canIAskPublic')">How do I follow and unfollow a user on Cueanda?</li>
			</ol>
		</div>
		<div class="col-md-6">
			<ol start="6">
				<li ng-click="slideTo('howDoIKnow')">What kind of media is supported in questions?</li>
				<li ng-click="slideTo('howDoIFollow')">What do I do if I see spam or an inappropriate question?</li>
				<li ng-click="slideTo('canIPost')">Legal mumbo jumbo?</li>
				<li ng-click="slideTo('whatDoIdo')"> How do I contact you?</li>
			</ol>
		</div>
	</div>
	<div id="whatIsCueanda" class="row answer">
		<div class="question-title">What is Cueanda?</div>
		Cueanda is a web application that allows users the ability to ask, answer and comment on questions asked by friends and strangers alike.
	</div>
	<div id="howDoIAsk" class="row answer">
		<div class="question-title">How do I ask questions?</div>
		Asking a question is as simple as signing up and clicking on “Add a Question!” in the Question Stream.You are able to ask a question to the public (i.e. all Cueanda users) or privately to specific users. Public questions can be viewed and answered by anyone on the website, and can also be recommended and reposted through other applications such as Facebook and Twitter. When asking private questions, only the users you have specifically asked your questions to will be able to view and answer your question.
	</div>
	<div id="iCanSee" class="row answer">
		<div class="question-title">How do I answer and comment on questions?</div>
		Any public question can be answered by any Cueanda user on the Question Stream. However, a user must sign up and sign in to comment on questions. Also, Cueanda allows users to toggle between results from the general public as well as the people they follow. So, please join us on Cueanda!
	</div>
	<div id="howDoISee" class="row answer">
		<div class="question-title">How do I know if I was asked a question or if I was mentioned in a question?</div>
		In addition to allowing users the ability to filter by the questions asked by the people they follow, the Question Stream allows users the ability to filter by private and recommended questions. You can also view the questions that you were mentioned in on your profile page.
	</div>
	<div id="canIAskPublic" class="row answer">
		<div class="question-title">How do I follow and unfollow a user on Cueanda?</div>
		You are able to follow and unfollow another user by going to their profile page and selecting “Follow Me” or “Unfollow Me.”
	</div>
	<div id="howDoIKnow" class="row answer">
		<div class="question-title">What kind of media is supported in questions?</div>
		You can ask questions with images, gifs and videos!
	</div>
	<div id="howDoIFollow" class="row answer">
		<div class="question-title">What do I do if I see spam or an inappropriate question?</div>
		If you notice spam or an inappropriate question, you’re able to flag the question. In order to flag a question, select the question and then select the flag icon button which is located under the result data and above the comment section. Also, feel free to contact us with any concerns Insert email address.
	</div>
	<div id="canIPost" class="row answer">
		<div class="question-title">Legal mumbo jumbo?</div>
		Yup. <a href="#!/privacy">Privacy Policy</a> <a href="#!/terms">Terms of Use</a>
	</div>
	<div id="whatDoIdo" class="row answer">
		<div class="question-title">How do I contact you?</div>
		Feel free to contact us – we’d love to hear from you <br> info@cueanda.com
	</div>
</section>