<section class="container">
	<div class="policies">
		<div class="title">Cueanda Privacy Policy</div>
		<div class="title">Last Updated: August 30th, 2013</div>
		<div class="text">
			Cueanda values your privacy. This Privacy Policy describes Cueanda’s policies and procedures with respect to how your information on the Service (as defined in the Terms of Service) is collected, used and shared. We will not use or share your information with anyone except as described in this Privacy Policy. When using our Service you consent to the collection, transfer, manipulation, storage, disclosure and/or other use of your information as described in this Privacy Policy. Irrespective of which country you reside in or supply information from, you authorize Cueanda to use your information in the United States.
		</div>
		<div class="title">Information Collection and Use</div>
		<div class="text">
			Cueanda uses information we collect to analyze how the Service is used, diagnose technical or other problems, maintain security, personalize content, monitor aggregate metrics (such as total number of visitors, traffic, and demographic patterns), and track users and their content as necessary to comply with copyright and other laws.
		</div>
		<div class="title">Information Collected Upon Registration</div>
		<div class="text">
			When you create or reconfigure your Cueanda account you provide personal information. You provide Cueanda your name, username, password, and email address. Your name and username are made public, and may appear in search results. We may use your email address to send you Service-related notices, including any notices required by law, in lieu of communication by postal mail. If you email us, we may keep your message, email address and contact information to respond to your request.
		</div>
		<div class="title">Additional Information</div>
		<div class="text">
			You may elect to provide Cueanda with additional profile information, such as a short biography or a picture. All user profile pages (“Profiles”) are public and contain the name and username provided upon registration, unless otherwise edited or modified. Profiles will display questions you have asked publicly, public questions which you have answered, Cueanda users you follow, and Cueanda users who follow you. All information provided in Profiles is public, and Profiles are visible to registered and non-registered website visitors. Providing the additional information described in the paragraph herein is not required and is entirely optional.
		</div>
		<div class="text">
			Like many websites, we use, or may use, "cookie" technology to collect additional website usage data and to improve our Service. A cookie is a small data file that is transferred to your computer's hard disk. Cueanda may use both session cookies and persistent cookies to better understand how you interact with our Service, to monitor aggregate usage by our users and web traffic routing on our Services, and to customize and improve our Service. Most Internet browsers automatically accept cookies. You can instruct your browser, by changing its settings, to stop accepting cookies or to prompt you before accepting a cookie from the websites you visit. However, some Services may not function properly if you disable cookies.
		</div>
		<div class="text">
			Our servers automatically record information created by your use of the Service. Such data may include information such as your IP address, browser type, operating system, the referring web page, pages visited, location, search terms, and cookie information. We may receive such data when you interact with our Service, such as when you visit and sign into our website, or interact with our email notifications. Cueanda may use this data to provide, and continually improve, its Service.
Cueanda uses a variety of third-party services to help provide our Service, such as Heroku who handles our web hosting, and to help us understand and improve the use of our Service, such as Google Analytics. These third-party service providers may collect information sent by your browser as part of a web page request, such as cookies or your IP address.
		</div>
		<div class="title">Additional Information</div>
		<div class="text">
			We engage service providers to perform functions and provide services to us in the United States and abroad. We may share your private personal information with such service providers subject to confidentiality obligations consistent with this Privacy Policy, and on the condition that the third parties use your private personal data only on our behalf and pursuant to our instructions.
		</div>
		<div class="text">
			Notwithstanding anything to the contrary in this Policy, we may preserve or disclose your information if we believe such action is reasonably necessary to comply with a law, regulation or legal request,  protect the safety of any person, address fraud, security or technical issues, or protect Cueanda's rights or property; provided, however, that nothing in this Privacy Policy is intended to limit any legal defenses or objections that you may have to a third party’s request to disclose your information, including a government’s request.

		</div>
		<div class="text">
			We may share or disclose your non-private, aggregated or otherwise non-personal information, such as your public user profile information, public questions, the users you follow or that follow you, or the number of users who clicked on a particular link or voted on a particular question (even if only one did).
		</div>
		<div class="title">Policy Towards Children</div>

		<div class="text">
			You can also permanently delete your Cueanda account. Until an update is provided to the Service, you can delete your account by:
		
			<ol>
				<li>Sending an email to INSERT EMAIL CONTACT, preferably from the email registered with the Service, with the following information:
					<ul>
						<li>Email subject of “DELETE ACCOUNT”</li>
						<li>Email body containing the username and email address associated with the account(s) being terminated</li>
						<li>Please note:  additional information, such as the reason for termination, may be submitted, but is not required</li>
					</ul>
				</li>
				<li>Modifying your Display Name to append “_DELETE” (for example, if your Display Name was “Testing”, you would modify your Display Name to “Testing_DELETE”</li>
			</ol>
		</div>
		<div class="text">
			When your account is deactivated, it is not viewable on Cueanda.com; however, your previous public questions may be. For up to 30 days after deactivation, it is still possible to restore your account if it was accidentally or wrongfully deactivated. After 30 days, we begin the process of deleting your account from our systems.
		</div>
		<div class="text">
			To restore your account, send an email to INSERT EMAIL CONTACT, preferably from the email previously registered with the Service, with the an email subject of “REACTIVATE ACCOUNT” and an email body containing the username and email address previously associated with the terminated account(s). Please note:  additional information, such as the reason for the original termination and/or reactivation request, may be submitted, but is not required
		</div>		
		<div class="title">Policy Towards Children</div>
		<div class="text">
			Our Service is not directed to persons under 13, and we do not knowingly collect personal information from persons under 13. If you become aware that your child has provided us with personal information without your consent, please contact us at INSERT EMAIL CONTACT.
		</div>
		<div class="title">Policy Changes</div>
		<div class="text">
			We may revise this Privacy Policy at our discretion, from time to time. The most current version of the policy will govern our use of your information and will always be at <a href="#!/privacy">privacy</a>. If we make a change to this policy that, in our sole discretion, is material, we will notify you via an email to the email address associated with your account and/or through Cueanda.com. By continuing to access or use the Service after those changes become effective, you agree to be bound by the revised Privacy Policy.
		</div>
	</div>
</section>