<section class="container">
	<div class="policies">
		<div class="title">Cueanda Privacy Policy</div>
		<div class="title">Last Updated: August 30th, 2013</div>
		<div class="text">
			Cueanda values your privacy. This Privacy Policy describes Cueanda’s policies and procedures on the  collection, use and disclosure of your information on the Service (as defined in the Terms of Service). We will not use or share your information with anyone except as described in this Privacy Policy. When using our Service you consent to the collection, transfer, manipulation, storage, disclosure and other uses of your information as described in this Privacy Policy. Irrespective of which country you reside in or supply information from, you authorize Cueanda to use your information in the United States.
		</div>
		<div class="title">Information Collection and Use</div>
		<div class="text">
			Cueanda uses information we collect to analyze how the Service is used, diagnose technical or other problems, maintain security, personalize content, monitor aggregate metrics such as total number of  visitors, traffic, and demographic patterns, and track user content and users as necessary to comply with  copyright and other laws.
		</div>
		<div class="title">Information Collected Upon Registration</div>
		<div class="text">
			When you create or reconfigure your Cueanda account you provide personal information. You provide Cueanda your name, username, password, and email address. Your name and username are made  public, and will appear in search results. Please note: your name, username, and the display of such  information in the search results may be accessed by non-registered individuals.</div><div class="text">We may use your email address to send you Service-related notices (including any notices required by law, in lieu of communication by postal mail). If you email us, we may keep your message, email address  and contact information to respond to your request.
		</div>
		<div class="title">Additional Information</div>
		<div class="text">
			You may elect to provide Cueanda with profile information to make public, such as a short biography or a picture. All user profile pages (“My Profile”) are public and contain the name and username provided upon registration, unless otherwise edited or modified. Additionally, My Profile will display all questions you have asked publicly, all public questions which you have answered, all Cueanda users you follow, all Cueanda users who follow you, and all Communities you are a member of (see Cuenda’s FAQ page for additional information with Public v. Private questions, as well as Communities). All information provided in My Profile is public, as all My Profile pages are visible to registered and non-registered  website visitors. Providing the additional information described in the paragraph herein is not required  and is entirely optional.
		</div>
		<div class="text">
			Like many websites, we use "cookie" technology to collect additional website usage  data and to improve our Services, but we do not require cookies for many parts of our Service such as searching and looking at public user profiles or lists. A cookie is a small data file that is transferred to your computer's hard disk. Cueanda may use both session cookies and persistent cookies to better understand how you interact with our Services, to monitor aggregate usage by our users and web traffic routing on our Services, and to customize and improve our Services. Most Internet browsers automatically accept cookies. You can instruct your browser, by changing its settings, to stop accepting cookies or to prompt you before accepting a cookie from the websites you visit. However, some Services may not function properly if you disable cookies.
		</div>
		<div class="text">
			Our servers automatically record information created by your use of the Service. Such data may include  information such as your IP address, browser type, operating system, the referring web page, pages  visited, location, search terms, and cookie information. We receive such data when you interact with our Service, for example, when you visit our website, sign into our Service or interact with our email notifications. Cueanda uses this data to provide, and continually improve, its Service.
		</div>
		<div class="text">
			Cueanda uses a variety of third-party services to help provide our Service, such as Pantheon who handles our web hosting, and to help us understand and improve the use of our Service, such as Google  Analytics. These third-party service providers may collect information sent by your browser as part of a web page request, such as cookies or your IP address.</div><div class="title">Information Sharing and Disclosure
		</div>
		<div class="text">
			We engage service providers to perform functions and provide services to us in the United States and abroad. We may share your private personal information with such service providers subject to  confidentiality obligations consistent with this Privacy Policy, and on the condition that the third parties  use your private personal data only on our behalf and pursuant to our instructions.
		</div>
		<div class="text">
			Notwithstanding anything to the contrary in this Policy, we may preserve or disclose your information  if we believe that it is reasonably necessary to comply with a law, regulation or legal request; to protect the safety of any person; to address fraud, security or technical issues; or to protect Cueanda's rights or property. However, nothing in this Privacy Policy is intended to limit any legal defenses or objections that you may have to a third party’s, including a government’s, request to disclose your information.
		</div>
		<div class="text">
			Non-Private or Non-Personal Information: We may share or disclose your non-private, aggregated or  otherwise non-personal information, such as your public user profile information, public questions, the  users you follow or that follow you, or the number of users who clicked on a particular link or voted on a particular question (even if only one did).</div><div class="title">Deleting Your Account
		</div>
		<div class="text">
			You can also permanently delete your Cueanda account. If you follow the instructions here (insert a link to the FAQ on deleting an account and add a way to delete an account), your account will be  deactivated and then deleted. When your account is deactivated, it is not viewable on Cueanda.com, but your previously asked public questions may be. For up to 30 days after deactivation it is still possible to restore your account if it was accidentally or wrongfully deactivated. After 30 days, we begin the process of deleting your account from our systems, which can take up to a week (make sense Les?).
		</div>
		<div class="title">Policy Towards Children</div>
		<div class="text">
			Our Services are not directed to persons under 13 and we do not knowingly collect personal information from persons under 13. If you become aware that your child has provided us with personal information without your consent, please contact us at (insert contact info – Gboyega, what emails do we have  setup?)
		</div>
		<div class="title">Policy Changes</div>
		<div class="text">
			We may revise this Privacy Policy at our discretion, from time to time. The most current version of the policy will govern our use of your information and will always be at (insert link to the about/privacy policy page). If we make a change to this policy that, in our sole discretion, is material, we will notify  you via an email to the email address associated with your account and/or through Cueanda.com. By  continuing to access or use the Services after those changes become effective, you agree to be bound by  the revised Privacy Policy.
		</div>
	</div>
</section>