.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}
.index-banner {
  background: url('../img/bg2.jpg') center center no-repeat;
  background-size:cover;
  padding:40px 10px;
}
.banner-box {
  border-radius: 5px;
  /*border:1px solid #000;
  border-bottom-width:3px;*/
  background-color: rgba(0,0,0,0.3);
  padding:30px;
  font-size:1.4em;
  text-align: justify;
  color:#fff;
  text-shadow:1px 1px #000;
}
.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
  border:none;
  background-color: #333;
}
.navbar-inverse .navbar-brand {
    font-weight: bold;
    color:#fff;
    text-shadow:1px 2px #000;
}
.add-login-button {
  margin-bottom: 15px;
}

.content {
    margin-top:20px;
    width:100%
}
/*.dark-input {
  border:thin solid #333;
  background-color:#525252;
  color:#e0e0e0;
  text-shadow:1px 1px #333;
  -webkit-box-shadow: inset 1px 0px 3px #2E2E2E;
  -moz-box-shadow: inset 1px 0px 3px #2E2E2E;
  box-shadow: inset 1px 0px 3px #2E2E2E;

}*/
.categories {
  display:none;
}

.title {
  border-bottom:1px solid #575757;
  text-align:left;
  font-size:15px;
  font-weight: bold;
  margin-top:15px;
}
.plain-text {
  color:#f0f0f0;
  text-shadow:1px 1px #575757;
}
body {
    background-color:#737373;
    color:#3b3b3b;
}
body .viewQuestion a
{
  color:#428bca;
}
body .viewQuestion .buttons .btn {
  background-color: #e5e5e5;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  color:#575757;
  padding: 0px;
  width:32px;
  font-size:18px;
  margin:0px 5px;
}
body .viewQuestion .buttons .btn.twitter {
  color:#fff;
  background-color: #00acee;
  border-color: #008ABE
}

body .viewQuestion .buttons .btn.facebook {
  color:#fff;
  background-color: #3b5999;
  border-color: #2C4373
}

body .viewQuestion .buttons .btn.del {
  color:#fff;
  background-color: #eb504f;
  border-color: #993535
}

body a {
  color:#fff;
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}

.blue-butt:focus,
.red-butt:focus,
.orange-butt:focus,
.green-butt:focus,
.blue-butt:hover,
.red-butt:hover,
.orange-butt:hover,
.green-butt:hover {
  color:#fff;
}

.blue-butt, .vote-sec-1  {
  background-color: #1b21a7;
  background-image: -moz-linear-gradient(top, #375bf6 0%, #1b21a7 100%);
  background-image: -ms-linear-gradient(top, #375bf6 0%, #1b21a7 100%);
  background-image: -o-linear-gradient(top, #375bf6 0%, #1b21a7 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #375bf6), color-stop(1, #1b21a7));
  background-image: -webkit-linear-gradient(top, #375bf6 0%, #1b21a7 100%);
  background-image: linear-gradient(top, #375bf6 0%, #1b21a7 100%);
  border:thin solid #0E1054;
  border-bottom-width: 5px;
  box-shadow: 0px 1px 1px #6984F8 inset;
  text-shadow: 1px 1px #0B0D43;
  color:#fff;
}

.blue-butt:hover {
  background-color: #375bf6;
  background-image: none;
  border:thin solid #0B0D43;
  border-bottom-width: 5px;
}

.green-butt {
  color:#fff;
  background-color: #2a803a;
  background-image: -moz-linear-gradient(top, #75a947 0%, #2a803a 100%);
  background-image: -ms-linear-gradient(top, #75a947 0%, #2a803a 100%);
  background-image: -o-linear-gradient(top, #75a947 0%, #2a803a 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #75a947), color-stop(1, #2a803a));
  background-image: -webkit-linear-gradient(top, #75a947 0%, #2a803a 100%);
  background-image: linear-gradient(top, #75a947 0%, #2a803a 100%);  
  box-shadow:         inset 0px 1px 1px #bae396;
  
  text-shadow:1px 1px #10571e;
  border:thin solid #10571e;
  border-bottom:5px solid #10571e;
}

.green-butt:hover {
  color:#fff;
  background-color: #75a947;
  background-image: none;
  border:thin solid #10571e;
  border-bottom-width: 5px;
}

.red-butt {
  color:#fff;
  background-color: #ba3939;
  background-image: -moz-linear-gradient(top, #eb504f 0%, #ba3939 100%);
  background-image: -ms-linear-gradient(top, #eb504f 0%, #ba3939 100%);
  background-image: -o-linear-gradient(top, #eb504f 0%, #ba3939 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eb504f), color-stop(1, #ba3939));
  background-image: -webkit-linear-gradient(top, #eb504f 0%, #ba3939 100%);
  background-image: linear-gradient(top, #eb504f 0%, #ba3939 100%);


  -moz-box-shadow:    inset 0px 1px 1px #f28080;
  -webkit-box-shadow: inset 0px 1px 1px #f28080;
  box-shadow:         inset 0px 1px 1px #f28080;

  text-shadow:1px 1px #993535;
  border:thin solid #993535;
  border-bottom:5px solid #993535;
}

.red-butt:hover {
  color:#fff;
  background-color: #eb504f;
  background-image: none;
  border:thin solid #993535;
  border-bottom-width: 5px;
}

.purple-butt, .vote-sec-3 {
  color:#fff;
  background-color: #8d28bd;
  background-image: -moz-linear-gradient(top, #b944f0 0%, #8d28bd 100%);
  background-image: -ms-linear-gradient(top, #b944f0 0%, #8d28bd 100%);
  background-image: -o-linear-gradient(top, #b944f0 0%, #8d28bd 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b944f0), color-stop(1, #8d28bd));
  background-image: -webkit-linear-gradient(top, #b944f0 0%, #8d28bd 100%);
  background-image: linear-gradient(top, #b944f0 0%, #8d28bd 100%);


  -moz-box-shadow:    inset 0px 1px 1px #d487f9;
  -webkit-box-shadow: inset 0px 1px 1px #d487f9;
  box-shadow:         inset 0px 1px 1px #d487f9;

  text-shadow:1px 1px #601881;
  border:thin solid #601881;
  border-bottom:5px solid #601881;
}

.purple-butt:hover {
  color:#fff;
  background-color: #b944f0;
  background-image: none;
  border:thin solid #601881;
  border-bottom-width: 5px;
}

.teal-butt, .vote-sec-2  {
  color:#fff;
  background-color: #1aaa9b;
  background-image: -moz-linear-gradient(top, #49d6c7 0%, #1aaa9b 100%);
  background-image: -ms-linear-gradient(top, #49d6c7 0%, #1aaa9b 100%);
  background-image: -o-linear-gradient(top, #49d6c7 0%, #1aaa9b 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #49d6c7), color-stop(1, #1aaa9b));
  background-image: -webkit-linear-gradient(top, #49d6c7 0%, #1aaa9b 100%);
  background-image: linear-gradient(top, #49d6c7 0%, #1aaa9b 100%);


  -moz-box-shadow:    inset 0px 1px 1px #94f5eb;
  -webkit-box-shadow: inset 0px 1px 1px #94f5eb;
  box-shadow:         inset 0px 1px 1px #94f5eb;

  text-shadow:1px 1px #0e7065;
  border:thin solid #0e7065;
  border-bottom:5px solid #0e7065;
}

.teal-butt:hover {
  color:#fff;
  background-color: #49d6c7;
  background-image: none;
  border:thin solid #0e7065;
  border-bottom-width: 5px;
}


.orange-butt, .vote-sec-0 {
    background-color: #D85700;
  background-image: -moz-linear-gradient(top, #FF841A 0%, #D85700 100%);
  background-image: -ms-linear-gradient(top, #FF841A 0%, #D85700 100%);
  background-image: -o-linear-gradient(top, #FF841A 0%, #D85700 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FF841A), color-stop(1, #D85700));
  background-image: -webkit-linear-gradient(top, #FF841A 0%, #D85700 100%);
  background-image: linear-gradient(top, #FF841A 0%, #D85700 100%);
  border:thin solid #A24100;
  border-bottom-width: 5px;
  box-shadow: 0px 1px 1px #FF9933 inset;
  text-shadow: 1px 1px #A24100;
}

.orange-butt:hover {
  background-color: #FF841A;
  background-image: none;
  border:thin solid #A24100;
  border-bottom-width: 5px;
}

.form-group .help-block {
  color:#404040;
}

.question-stream-alert {
  padding:10px;
  text-align: center;
  border-radius: 5px;
  border:thin solid #565656;
  margin-left:80px;
}

body .pagination {
  margin:10px 0px;
}
body .pagination li span {
  background-color: #E7E6E6;
  border-color:#565656;
}
body .pagination li span:hover {
  background-color: #fff;
}

body .pagination>.active>span,
body .pagination>.active>span:hover,
body .pagination>.active>span:active
 {
  background-color: #565656;
  border-color: #565656;
}
body .pagination>.spacer>span,
body .pagination>.spacer>span:hover,
body .pagination>.spacer>span:active
 {
  background-color: transparent;
  border: none;
  color:#565656;
}
body .pagination>.disabled>span,
body .pagination>.disabled>span:hover,
body .pagination>.disabled>span:active
 {
  background-color: transparent;
  border: 1px solid #565656;
  color:#565656;
}

body .cloaked {
  visibility: hidden;
}

.typeahead img {
  width: 30px;
  height: 30px;
  margin-right:5px;
}

.mention-link-no-modal, .mention-link {
  color:#428bca;
  cursor: pointer;
}
.mention-link-no-modal:hover, .mention-link:hover {
  text-decoration: underline;
  }

.options .answer .mention-link-no-modal, .options .answer .mention-link {
  color:#fff;
  cursor: default;
}
.options .answer .mention-link-no-modal:hover, .options .answer .mention-link:hover {
  text-decoration: none;
  }

  /* NAV-TABS */
.nav-tabs {
  border-bottom:1px solid #525252;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  background-color: #525252;
  color:#fff;
  text-shadow:1px 1px #000;
  border-color:#525252;
}
.nav>li>a {
  color:#404040;
}
.nav>li>a:hover, .nav>li>a:focus {
  background-color:#ccc;
  border-color:#ccc;
  color:#333;
  border-bottom-color:#525252;
}

/****************** FAQ PAGE ********************/

.faq-page .question-title {
  color:#fff;
  font-weight:bold;
  text-shadow:1px 1px #000;
}
.question-title li{
  cursor: pointer;
  margin-bottom:15px;
}
.row.question-title {
  background-color: #575757;
  margin-top: -20px;
  padding: 20px 10px;
  border-radius:0px 0px 10px 10px;
  margin-bottom: 20px;
}
.faq-page .answer {
  padding:0px 15px;
  margin-bottom:20px;
}

/************ TERMS / POLICY *********************/

.policies .title {
  font-weight: bold;
  margin:10px 0px;
  font-size:1.2em;
}
.policies .title.one-dent {
  margin-bottom: 0px;
}
.policies .one-dent {
  padding-left:30px;
}
.tooltipper.active {
  display:inline-block; 
}
.tooltipper {
  display:none;
  position: relative;
  z-index:3000;
}
.tooltipper .text {
  background-color: rgba(0,0,0,0.85);
  padding:5px 15px;
  font-size:12px;
  color:#fff;
  text-shadow:1px 1px #000;
  border-radius: 5px;
  max-width:250px;
}

.tooltipper .text:before {
  position: absolute;
  display: inline-block;
  border-top: 12px solid #000;
  line-height: 12px;
  border-right: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-top-color: rgba(0, 0, 0, 0.85);
  left: 50%;
  bottom: -24px;
  content: '';
}
