.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
  border:none;
  background-color: #333;
}

.add-login-button {
  margin-bottom: 15px;
}

.content {
    margin-top:20px;
    width:100%
}

.categories {
  display:none;
}

.title {
  border-bottom:1px solid #575757;
  text-align:left;
  font-size:15px;
  font-weight: bold;
  margin-top:15px;
}
.plain-text {
  color:#f0f0f0;
  text-shadow:1px 1px #575757;
}
body {
    background-color:#737373;
    color:#3b3b3b;
}
body .viewQuestion .buttons .btn {
  background-color: #e5e5e5;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  color:#575757;
  padding: 0px;
  width:32px;
  font-size:18px;
  margin:0px 5px;
}
body .viewQuestion .buttons .btn.twitter {
  color:#fff;
  background-color: #00acee;
  border-color: #008ABE
}

body .viewQuestion .buttons .btn.facebook {
  color:#fff;
  background-color: #3b5999;
  border-color: #2C4373
}


footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}

.blue-butt:focus,
.red-butt:focus,
.orange-butt:focus,
.green-butt:focus,
.blue-butt:hover,
.red-butt:hover,
.orange-butt:hover,
.green-butt:hover {
  color:#fff;
}

.blue-butt,
.vote-bar .vote-sec-1  {
  background-color: #1b21a7;
  background-image: -moz-linear-gradient(top, #375bf6 0%, #1b21a7 100%);
  background-image: -ms-linear-gradient(top, #375bf6 0%, #1b21a7 100%);
  background-image: -o-linear-gradient(top, #375bf6 0%, #1b21a7 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #375bf6), color-stop(1, #1b21a7));
  background-image: -webkit-linear-gradient(top, #375bf6 0%, #1b21a7 100%);
  background-image: linear-gradient(top, #375bf6 0%, #1b21a7 100%);
  border:thin solid #0E1054;
  border-bottom-width: 5px;
  box-shadow: 0px 1px 1px #6984F8 inset;
  text-shadow: 1px 1px #0B0D43;
  color:#fff;
}

.blue-butt:hover {
  background-color: #375bf6;
  background-image: none;
  border:thin solid #0B0D43;
  border-bottom-width: 5px;
}

.green-butt {
  color:#fff;
  background-color: #2a803a;
  background-image: -moz-linear-gradient(top, #75a947 0%, #2a803a 100%);
  background-image: -ms-linear-gradient(top, #75a947 0%, #2a803a 100%);
  background-image: -o-linear-gradient(top, #75a947 0%, #2a803a 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #75a947), color-stop(1, #2a803a));
  background-image: -webkit-linear-gradient(top, #75a947 0%, #2a803a 100%);
  background-image: linear-gradient(top, #75a947 0%, #2a803a 100%);  
  box-shadow:         inset 0px 1px 1px #bae396;
  
  text-shadow:1px 1px #10571e;
  border:thin solid #10571e;
  border-bottom:5px solid #10571e;
}

.green-butt:hover {
  color:#fff;
  background-color: #75a947;
  background-image: none;
  border:thin solid #10571e;
  border-bottom-width: 5px;
}

.red-butt {
  color:#fff;
  background-color: #ba3939;
  background-image: -moz-linear-gradient(top, #eb504f 0%, #ba3939 100%);
  background-image: -ms-linear-gradient(top, #eb504f 0%, #ba3939 100%);
  background-image: -o-linear-gradient(top, #eb504f 0%, #ba3939 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eb504f), color-stop(1, #ba3939));
  background-image: -webkit-linear-gradient(top, #eb504f 0%, #ba3939 100%);
  background-image: linear-gradient(top, #eb504f 0%, #ba3939 100%);


  -moz-box-shadow:    inset 0px 1px 1px #f28080;
  -webkit-box-shadow: inset 0px 1px 1px #f28080;
  box-shadow:         inset 0px 1px 1px #f28080;

  text-shadow:1px 1px #993535;
  border:thin solid #993535;
  border-bottom:5px solid #993535;
}

.red-butt:hover {
  color:#fff;
  background-color: #eb504f;
  background-image: none;
  border:thin solid #993535;
  border-bottom-width: 5px;
}

.orange-butt, 
.vote-bar .vote-sec-0 {
    background-color: #D85700;
  background-image: -moz-linear-gradient(top, #FF841A 0%, #D85700 100%);
  background-image: -ms-linear-gradient(top, #FF841A 0%, #D85700 100%);
  background-image: -o-linear-gradient(top, #FF841A 0%, #D85700 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FF841A), color-stop(1, #D85700));
  background-image: -webkit-linear-gradient(top, #FF841A 0%, #D85700 100%);
  background-image: linear-gradient(top, #FF841A 0%, #D85700 100%);
  border:thin solid #A24100;
  border-bottom-width: 5px;
  box-shadow: 0px 1px 1px #FF9933 inset;
  text-shadow: 1px 1px #A24100;
}

.orange-butt:hover {
  background-color: #FF841A;
  background-image: none;
  border:thin solid #A24100;
  border-bottom-width: 5px;
}

.form-group .help-block {
  color:#525252;
}

.question-stream-alert {
  padding:10px;
  text-align: center;
  border-radius: 5px;
  border:thin solid #565656;
  margin-left:80px;
}

body .pagination {
  margin:10px 0px;
}
body .pagination li span {
  background-color: #E7E6E6;
  border-color:#565656;
}
body .pagination li span:hover {
  background-color: #fff;
}

body .pagination>.active>span,
body .pagination>.active>span:hover,
body .pagination>.active>span:active
 {
  background-color: #565656;
  border-color: #565656;
}
body .pagination>.spacer>span,
body .pagination>.spacer>span:hover,
body .pagination>.spacer>span:active
 {
  background-color: transparent;
  border: none;
  color:#565656;
}
body .pagination>.disabled>span,
body .pagination>.disabled>span:hover,
body .pagination>.disabled>span:active
 {
  background-color: transparent;
  border: 1px solid #565656;
  color:#565656;
}

body .cloaked {
  visibility: hidden;
}