body.newLayout {
    background-color:#f8f8f8;
    color:#333;
}

body.newLayout a {
    color:#428bca;
}

body.newLayout .question-info-icon {
	color:#ccc;
	text-shadow:1px 1px #fff;
}

body.newLayout .question-list-item .side.right,
body.newLayout .faq-page .row.question-title  {
  background-color: #e0e0e0;
  background-image: -moz-linear-gradient(top, #e0e0e0 0%, #D5D5D5 100%);
  background-image: -ms-linear-gradient(top, #e0e0e0 0%, #D5D5D5 100%);
  background-image: -o-linear-gradient(top, #e0e0e0 0%, #D5D5D5 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e0e0e0), color-stop(1, #D5D5D5));
  background-image: -webkit-linear-gradient(top, #e0e0e0 0%, #D5D5D5 100%);
  background-image: linear-gradient(top, #e0e0e0 0%, #D5D5D5 100%);
  border:thin solid #bababa;
  border-bottom-width: 5px;
  box-shadow: 0px 1px 1px #fff inset;
}

body.newLayout .question-list-item .right:before {
	position: absolute;
	display: inline-block;
	border-top: 12px solid transparent;
	border-right: 12px solid #E7E6E6;
	border-bottom: 12px solid transparent;
	border-right-color: rgba(0, 0, 0, 0.2);
	left: 68px;
	top: 15px;
	content: '';
}

body.newLayout .question-list-item .right:after {
	position: absolute;
	display: inline-block;
	border-top: 12px solid transparent;
	border-right: 12px solid #e0e0e0;
	border-bottom: 12px solid transparent;
	left: 70px;
	top: 15px;
	content: '';
}

body.newLayout .categories .category {
	background-color: #f8f8f8;
	text-shadow: none;
	color:#575757;
	border-left:none;
}

body.newLayout .categories .category.active {
	/*background-color: #e0e0e0;
	border-bottom:1px solid #bababa;*/
	border-left:3px solid #FF841A;
}

body.newLayout .categories .category .cat-icon {
	color:#575757;
	text-shadow: 1px 1px #fff;
	border-left:none;
	font-size:20px;
}

body.newLayout .categories .category.active .cat-icon {
	color:#FF841A;
	text-shadow:1px 1px #A24100;
}

body.newLayout .title {
	color:#575757;
	border-bottom:1px solid #575757;
}
body.newLayout .tooltip {
	text-shadow:none;
}

body.newLayout .plain-text {
	color:#000;
	text-shadow:none;
}

body.newLayout .muted {
	color:#757575;
}

body.newLayout .faq-page .row.question-title {
	color:#575757;

}
body.newLayout .faq-page .question-title {
	color:#575757;
	text-shadow: none;
}