extends auth

block auth
  - if( locals.query.missingToken )
      div.alert.alert-danger You must have a password reset token (given via email) before attempting to reset your password.
  - if( locals.query.invalidToken )
      div.alert.alert-danger The reset token you're attempting to use in invalid. It might be that 30 days has passed since you've made the request. Please request another token.
  - if( locals.query.issueFindingUser )
      div.alert.alert-danger An error occurred when attempting to access the user tied to this password reset token. Please try again.
  - if( locals.query.success )
      div.alert.alert-success Your password was reset successfully. Please check your email for your new password.

