.question-list-item {
	margin-bottom: 20px;
	position:relative;
}

.question-list-item,
.question-list-item .answers {
	display:table;
	width:100%;
}

.question-list .select2-container.the-question-filter a {
	height: 40px;
	padding:7px 0px 0px 11px;
}
body .select2-search input {
	background:none;
}
.question-list .select2-container .select2-choice
{
	border-radius: 5px;
	border:1px solid #575757;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.5, #fff));
    background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #fff 50%);
    background-image: -moz-linear-gradient(center bottom, #ccc 0%, #fff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#cccccc', GradientType = 0);
    background-image: linear-gradient(top, #fff 0%, #ccc 50%)
}
.question-list .select2-container.select2-dropdown-open .select2-choice
{
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-color: #5897fb;
	border-bottom: none;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));
    background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
    background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
    background-image: linear-gradient(top, #fff 0%, #eee 50%)
}
.question-list .select2-container .select2-choice .select2-arrow {
	width:23px;
}
.question-list .select2-container .select2-choice .select2-arrow b {
	background-position: 3px 5px;
}

.question-list .select2-container {
	margin-bottom:15px;
}


/*   Question Modal Select */


#questionModal .select2-container.category-select a {
	height: 34px;
	padding:3px 0px 0px 11px;
}
#questionModal .select2-container.category-select .select2-choice .select2-arrow {
	width:23px;
}
#questionModal .select2-container.category-select .select2-choice .select2-arrow b {
	background-position: 3px 5px;
}

#questionModal .control-group {
	margin:25px 0px;
}

#questionModal .file-upload {
	padding: 6px;
	width:100%;
	border:1px solid #ccc;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-topleft: 5px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;

}


/*   Question Modal Select */

.question-list-item .side {
	display:table-cell;
	vertical-align: top;
}

.question-list-item .side.left {
	width:80px;
}

.question-list-item .side.delete-question {
	width:45px;
	text-align: center;
}

.question-list-item .side.right {
	background-color: #E7E6E6;
	border-radius: 10px;
	padding:10px 20px;
	cursor:pointer;
}
.question-list-item .side.left .img-hold{
	border-radius:10px;
	border:thin solid #333;
	display: inline-block;
}
.question-list-item .side.left .img-hold img {
	border-radius: 10px;
	display: block;
}

.question-list-item .answers {
	font-size:.85em;
}

.question-list-item .answers .opb {
	text-align: right;
}

.muted {
	color:#bababa;
	font-size:.9em;
}
.question-list-item .question-title{
	font-size:1.2em;
	margin-top:5px;
	word-wrap: break-word;
	word-break:break-all;
}
.vote-bar {
	border-radius:5px;
	overflow: hidden;
	width:100%;
	margin:10px 0px;
}
.vote-bar,
.vote-bar .vote-sec  {
	height: 20px;
}
.vote-bar .vote-sec {
	display: inline-block;
}
.vote-bar .vote-sec-0 {
	background-color:#FF841A;

	background-image: linear-gradient(top, #FF841A 0%, #D85700 100%);
	background-image: -webkit-linear-gradient(top, #FF841A 0%, #D85700 100%);
	margin:0px;
}
.vote-bar .vote-sec-1 {
	background-color:#375bf6;

	background-image: linear-gradient(top, #375bf6 0%, #1b21a7 100%);
	background-image: -webkit-linear-gradient(top, #375bf6 0%, #1b21a7 100%);
	margin:0px;
}
.vote-bar.is-empty {
	border:1px solid #ccc;
	border-bottom-width: 2px;
}
.question-list-item {
	-webkit-transition: height .5s, opacity .5s;
	transition: height .5s, opacity .5s;
	height: auto;
	opacity: 1;
}
.question-list-item.hide-me {
	height: 0px;
	opacity: 0;
}


.question-list-item .right:before {
	position: absolute;
	display: inline-block;
	border-top: 12px solid transparent;
	border-right: 12px solid #E7E6E6;
	border-bottom: 12px solid transparent;
	border-right-color: rgba(0, 0, 0, 0.2);
	left: 68px;
	top: 14px;
	content: '';
}

.question-list-item .right:after {
	position: absolute;
	display: inline-block;
	border-top: 12px solid transparent;
	border-right: 12px solid #E7E6E6;
	border-bottom: 12px solid transparent;
	left: 69px;
	top: 15px;
	content: '';
}


.viewQuestion .modal-title {
	margin-right:15px;
	text-align: center;
	word-wrap: break-word;
	word-break:break-all;
}
.viewQuestion .answer.selected .fa {
	bottom:-4px;
	opacity: 1;

}
.viewQuestion .answer .fa {
	/*display: none;*/
	color:#00CC00;
	font-size:28px;
	line-height: 14px;
	position: relative;
	display: inline;
	-webkit-transition: bottom 1s, opacity 1s;
	transition: bottom 1s, opacity 1s;
	opacity: 0;
	position: relative;
	bottom:30px;
}

.viewQuestion .answer-case {
	display: inline-block;
	width:48%;
	text-align: center;
}
.viewQuestion iframe.embedly-embed{
	width:100%;
	max-height:300px;
}
.viewQuestion .answer {	
	padding:10px;
	color:#fff;
	font-weight: bold;
	cursor:pointer;
	width:100%;
	text-align: center;
	border-radius: 5px;
	/*vertical-align: middle;*/

}
.viewQuestion .answer-case-0 {
	margin-right:2%;
}
.viewQuestion .answer-case-1 {
	margin-left:2%;
}
.viewQuestion .answer:active{
	position: relative;
	top:1px;
}
.viewQuestion .create-comment {
	margin-bottom: 10px;
}
.viewQuestion .create-comment textarea {
	width:100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
.viewQuestion .comment-submit {
	width:100%;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.categories .category {
	border-left:3px solid;
	color:#fff;
	width:100%;
	font-weight: bold;
	text-shadow:1px 1px #333;
	cursor:pointer;
	display: table;
	-webkit-transition: border-left-color .3s, background-color .3s;
	transition: border-left-color .3s, background-color .3s;
	border-left-color:#fff;
	background-color: #737373;
}
.categories .category.active {
	border-left-color:#FF841A;
	background-color: #888888;
}

.categories .category .cat-icon {
	padding:10px;
	display: table-cell;
	border-left:1px solid;
	line-height: 10px;
	width:20px;
	vertical-align: middle;
	-webkit-transition: border-left-color .3s, font-size .3s, color .3s, text-shadow .3s;
	transition: border-left-color .3s, font-size .3s, color .3s, text-shadow .3s;
	border-left-color:transparent;
	font-size:14px;
	text-shadow:1px 1px #333;
	color:#fff;
}
.categories .category.active .cat-icon {
	border-left-color:#A24100;
	font-size:20px;
	color:#FF841A;
	text-shadow:1px 1px #A24100;
}
.categories .category .cat-text {
	display: table-cell;
	padding:10px 0px;
	vertical-align: middle;
}
.comment-title {
	overflow: hidden;
	padding:10px;
	vertical-align: middle;
	border:1px solid #ccc;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

	background-color: #ffffff;
	background-image: -moz-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
	background-image: -ms-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
	background-image: -o-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #e0e0e0));
	background-image: -webkit-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
	background-image: linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
}
.comment {
	display: table;
	width:100%;
}
.comment.comment-0 {
	background-color: #FFE2CC;
	/*border-top:2px solid #FFF0E6;*/
	border-bottom:1px solid #FF841A;
}
.comment.comment-1 {
	background-color: #D4D6FA;
	/*border-top:2px solid #ECEDFD;*/
	border-bottom:1px solid #375bf6;
}
.comment.comment-1 .comment-main {
	text-align: right;
}
.comment .comment-vote, .comment .comment-main, .comment .comment-img {
	display: table-cell;
	vertical-align: top;
	padding:5px;
}
.comment .comment-vote,.comment .comment-img {
	width:80px;
	text-align: center;
}
.comment .comment-vote .vote-butt-up {
	padding-bottom: 0px;
	background-color: 
}
.comment-1 .comment-vote .vote-butt-up,
.comment-1 .comment-vote .vote-butt-down {
	background-color: #A6A9E5;
	/*border: 1px solid #375bf6;*/
}
.comment-1 .comment-vote .vote-score {
	background-color: #A6A9E5;
	border:none;
	/*border-right: 1px solid #375bf6;
	border-left: 1px solid #375bf6;*/
}
.comment-0 .comment-vote .vote-butt-up,
.comment-0 .comment-vote .vote-butt-down {
	background-color: #FFCAA0;
	/*border: 1px solid #FF841A;*/
}
.comment-0 .comment-vote .vote-score {
	background-color: #FFCAA0;
	border:none;
	/*border-right: 1px solid #FF841A;
	border-left: 1px solid #FF841A;*/
}
.comment .comment-vote .vote-butt-up {
	border-bottom:none;
}
.comment .comment-vote .vote-butt-down {
	border-top:none;
}
.comment .comment-vote .vote-score {
	padding-top:0px;
	padding-bottom: 0px;
	cursor: default;
}
.comment .comment-vote .fa {
	font-size:20px;
}
.extra-functions .buttons {
	padding:0px 20px;
	text-align: center;
}

.extra-functions .buttons button {
	font-size:.85em;
}
.viewQuestion img {
	border-radius: 5px;
	border:1px solid #575757;
}
.viewQuestion .well {
	border:none;
	border-radius: 0px;
	box-shadow: inset 0px 1px 7px #575757;
	-webkit-box-shadow: inset 0px 1px 7px #575757;
	background-color: #ccc;
	min-height: 0px;
	overflow: hidden;
}
.viewQuestion .recommend-well {
	margin: 0px;
	padding-left: 20px;
	padding-right: 20px;
	-webkit-transition: min-height .3s, max-height .3s, padding-top .3s, padding-bottom .3s;
	transition: min-height .3s, max-height .3s, padding-top .3s, padding-bottom .3s;
	min-height: 0px;
	padding-top:0px;
	padding-bottom: 0px;
	max-height: 0px;
}
.viewQuestion .recommend-well.open {
	min-height:72px;
	max-height: 1000px;
	padding-top:20px;
	padding-bottom: 20px;
	margin-top:10px; 
}
.viewQuestion .recommend-well li.select2-search-field {
	min-width:350px;
}
.question-notifiers {
	margin-top:10px;
}
.question-info-icon {
	color:#565656;
	font-size:23px;
	text-align:center;
	padding-right: 28px;
}
.question-modal-top-row h6 {
	margin:3px;
}
.question-modal-top-row .question-title .question-username,
.question-modal-top-row .question-title .question-date {
	display: block;
	text-align: center;
}
.question-modal-top-row .user-pocket {
	/*text-align: center;
	background-color: #f0f0f0;
	border-right:1px solid #e0e0e0;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;*/
	display: none;
}
.question-modal-top-row .col{
	padding: 15px;
	margin-bottom: -99999px;
    padding-bottom: 99999px;
}
.question-modal-top-row {
	margin:-15px;
	overflow: hidden;
}
.pagination li span {
	cursor: pointer;
}

.vote-numbers .badge {
	background-color: #e5e5e5;
	color:#575757;
	border:1px solid #ccc;
	border-bottom-width: 2px;
	text-align: center;
	min-width: 50px;
	line-height:1.5;
	font-size:10px;
}