.user-profile .user-img {
	text-align: center;
}
.user-profile .user-img .name{
	margin:5px 0px;
}
.user-profile .user-img .bio{
	text-align: left;
	margin:10px 0px;
}

.user-profile .user-img img.user-follow-item {
	width:30px;
	display: inline-block;
	margin:10px;
	border-radius: 4px;
	border:1px solid #575757;
}

.user-profile .user-img img {
	width:100%;
	max-width:263px;
	border-radius: 4px;
	border:1px solid #575757;
}
.user-profile .user-img button {
	padding:8px;
	width:100%;
}