<div>
	<div class="comment-title" style="overflow:hidden;">
		<div style="display:inline-block; float:left">
	      <span class="badge pull-right" style="margin-left:5px;">{{question.comments.length}}</span>
	      Comments
	    </div> 
		<div class='btn-group pull-right'>
			<button class='btn btn-sm vote-butt-up btn-info' ng-class="{'active': sortByPop == false}" ng-click="changeSort(false)">
				<span class='fa fa-clock-o'></span>
			</button>
			<button class='btn btn-sm btn-info' ng-class="{'active': sortByPop == true}" ng-click="changeSort(true)"><span class='glyphicon glyphicon-stats'></span></button>
		</div>
	</div>
	<div ng-repeat="comment in question.comments | orderBy:sortBy:true " class="{{'comment comment-'+question.votesByUser[comment.user._id][0].answer}}">
		
		<!-- Img Block -->
		<div class='comment-img' ng-show="question.votesByUser[comment.user._id][0].answer == 0">
			<img class='user-image-display' ng-src='{{comment.user.image}}-sml.jpg'>
		</div>

		<!-- Vote Block -->
		<div class='comment-vote' ng-show="question.votesByUser[comment.user._id][0].answer == 1">
			<div class='btn-group-vertical'>
				<button class='btn btn-sm vote-butt-up' ng-click="castCommentVote(comment._id,1)">
					<span class='fa fa-thumbs-o-up'></span>
				</button>
				<button class='btn btn-sm vote-score'>{{comment.score}}</button>
				<button class='btn btn-sm vote-butt-down' ng-click="castCommentVote(comment._id,-1)">
					<span class='fa fa-thumbs-o-down'></span>
				</button>
			</div>
		</div>

		<!-- Main Block -->
		<div class='comment-main'>
			<div class='comment-header'><span class='name' style="margin-right:5px; font-weight:bold;">{{comment.user.username}}</span> <span style="font-size:.75em;">{{comment.created | ago}}</span></div>
			<div class='body'>{{comment.body}}</div>
		</div>

		<!-- Img Block -->
		<div class='comment-img' ng-show="question.votesByUser[comment.user._id][0].answer == 1">
			<img class='user-image-display' ng-src='{{comment.user.image}}-sml.jpg'>
		</div>

		<!-- Vote Block -->
		<div class='comment-vote' ng-show="question.votesByUser[comment.user._id][0].answer == 0">
			<div class='btn-group-vertical'>
				<button class='btn btn-sm vote-butt-up' ng-click="castCommentVote(comment._id,1)">
					<span class='fa fa-thumbs-o-up'></span>
				</button>
				<button class='btn btn-sm vote-score'>{{comment.score}}</button>
				<button class='btn btn-sm vote-butt-down' ng-click="castCommentVote(comment._id,-1)">
					<span class='fa fa-thumbs-o-down'></span>
				</button>
			</div>
		</div>

	</div>
</div>