<section data-ng-controller="QuestionController" data-ng-init="pullQuestions()">
	<div class="row">

		<div class="col-md-3">
			<button class="btn btn-primary orange-butt" ng-click="newQuestion = {}" data-toggle="modal" data-target="#questionModal">Add a Question!</button>

      <div class="categories">
        <div ng-repeat="category in categories" class="category category-{{category.machine_name}}">
           <span class="glyphicon glyphicon-{{catIcons[category.machine_name]}}"></span> {{category.name}}
        </div>
      </div>

		</div>
		<div class="col-md-9">
			<div>
				<!-- <question-in-list ng-repeat="question in questions" active-question="activeQuestion" question="question" cat-icons="catIcons">			
				</question-in-list> -->

        <div ng-repeat="question in questions" class="question-list-item qli-{{question._id}}">
          <div class="side left">
            <div class="img-hold">
              <img src="{{'../../img/user/'+question.user.username+'-sml.png'}}">
            </div>
          </div>
          <div class="side right" ng-click="questionModal(question)">
            <div class="question-user-name">
              <a href="#!/user/{{question.user.username}}" ng-click="disablePopup = true">{{question.user.username}}</a>
              <span class="muted">({{question.user.name}})</span>

              <span class="pull-right glyphicon glyphicon-{{catIcons[question.category.machine_name]}}" ></span>
            </div>
            <div class="question-title">{{question.title}}</div>
            <div> <voting-bar votes="question.votes"></voting-bar> </div>
            <div class="answers">
              <div class="answer opa side">
                <div class="percent">{{opaPercent}}%</div>
                <div class="text">{{question.answers[0].title}}</div>
              </div>
              <div class="answer opb side">
                <div class="percent">{{opbPercent}}%</div>
                <div class="text">{{question.answers[1].title}}</div>
              </div>
            </div>
          </div>
        </div>


			</div>
		</div>

	</div>

<!--- NEW QUESTION MODAL -->

<div class="modal fade" id="questionModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New Question</h4>
      </div>
      <div class="modal-body">
        <div class="control-group">
			<label class="control-label">Question:</label>
			<div class="controls">
				<textarea class="form-control" ng-model="newQuestion.question" placeholder="Question..."></textarea>
			</div>
		</div>
        <div class="control-group">
			<label class="control-label">select:</label>
			<div class="controls">
				<select ui-select2 ng-model="newQuestion.category" style="width:100%;" placeholder="Choose a Category...">
					<option  ng-repeat="category in categories" value="category.machine_name">{{category.name}}</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="opa">Option A:</label>
			<div class="controls">
				<input class="form-control" id="opa" ng-model="newQuestion.optionA"/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="opb">Option B:</label>
			<div class="controls">
				<input class="form-control" id="opb" ng-model="newQuestion.optionB"/>
			</div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="createQuestion()">Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!--- QUESTION MODAL -->
<div class="modal fade" id="viewQuestion">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{activeQuestion.title}}</h4>
        <h6 class="question-date">{{activeQuestion.created}}</h6>
      </div>
      <div class="modal-body">
      	<div class="options">
      		<div ng-repeat="answer in activeQuestion.answers"  ng-click="castVote($index)" class="answer answer-{{$index}} hover" ng-class="{'orange-butt':$index==0,'blue-butt':$index==1,'selected':activeQuestion.currentAnswer.answer == $index}">
          <span class="fa fa-check-circle"></span>
          {{answer.title}}</div>
      	</div>

      	<div> <voting-bar votes="activeQuestion.votes"></voting-bar> </div>

      	<div class="create-comment">
      	<textarea class="form-control" ng-model="activeQuestion.newComment" placeholder="Provide a comment..."></textarea>
        <button class="btn comment-submit green-butt" ng-click="createComment()" >Submit Comment</button>
      	</div>

      	<div class="comments">
          <comment comments="activeQuestion.comments" votes="activeQuestion.votes"></comment>
      	</div>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


</section>
