<section data-ng-controller="UserController" class="user-profile" data-ng-init="loadUserData()">
	<div class="row">
		<div class="col-sm-3 user-img">
			<img class='user-image-display' ng-src="{{userLargeImagePath}}" />
			<div class="name">
				{{userProfile.username}}
				<span class="muted">({{userProfile.name}})</span>
			</div>
			<button ng-show="userProfile.username != currentUser.username && currentUser" class="btn" ng-click="toggleFollow()" ng-class="{'green-butt':!isFollowing,'red-butt':isFollowing}">{{(isFollowing?"Un-Follow Me":"Follow Me")}}</button>
			<a ng-show="userProfile.username == currentUser.username" href="#!/user/{{userProfile.username}}/edit">
				<button class="btn blue-butt">Manage Account</button>
			</a>

			<!-- Bio -->
			<div class="bio plain-text">{{userProfile.bio}}</div>
			<!-- Followers -->
			<div class="title">Who They Follow</div>
			<div style="text-align:left;">
				<img class="user-follow-item" ng-repeat="usr in userProfile.follows | filter: {follower._id : userProfile._id }" ng-src="{{usr.followee.image}}-sml.jpg" />
			</div>
			<!-- Following -->
			<div class="title">Who's Following Them</div>
			<div style="text-align:left;">
				<img class="user-follow-item" ng-repeat="usr in userProfile.follows| filter: {followee._id : userProfile._id }" ng-src="{{usr.follower.image}}-sml.jpg" />
			</div>
		</div>
		<div class="col-sm-9">
			<!-- Recently Asked -->
			<div class="title">Recently Asked Questions</div>
			<div style="padding:20px">
				<question-list questions="askedQuestions" unique-name="'aq'" use-pager="true" ></question-list>
			</div>
			
			<!-- Recently Answered -->
			<div class="title">Recently Answered Questions</div>
			<div style="padding:20px">
				<question-list questions="votedQuestions" unique-name="'vq'" use-pager="true"></question-list>
			</div>
			<!-- Mentions -->
			<div class="title">Mentions</div>

		</div>
	
	</div>



</section>
